.welcome-message{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.login-prompt{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}

